<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtDXZL3U7Yc27Dhbw_98j9y4jruoAIjXg</string>
	<key>GCM_SENDER_ID</key>
	<string>443688986722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cufica.pricetracker</string>
	<key>PROJECT_ID</key>
	<string>pricetracker-cc328</string>
	<key>STORAGE_BUCKET</key>
	<string>pricetracker-cc328.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443688986722:ios:a28665e0ee6f0f2429093b</string>
</dict>
</plist>